@media screen
{
	* { box-sizing: border-box; } 
	
	body
	{
		background-color: #252525;
		color: #eeeeee;
		display: grid;
		font-family: monospace;
		grid-template-rows: 6.5rem 1fr;
		left: 0;
		margin: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
	
	header, section
	{
		padding: 8px;
		max-width: 100vw;
		min-width: 100vw;
	}
	
	section
	{
		border-top: 1px solid #c433c4;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
	}
	
	h1, h2
	{
		margin: 4px;
	}
	
	a
	{
		color: #eeeeee;
		text-decoration: none;
	}
	a:hover, a>*:hover
	{
		color: #c433c4;
	}
	
	h1 {
		font-size: 2.2rem;
	}
	
	h2
	{
		font-size: 1.5rem;
	}
}

@media screen and (max-width:599.98px)
{
	h2
	{
		font-size: 1.1rem;
	}
}

@media print
{
	body { display: none; }
}